In [17]:
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('precision', 5)
sheet = pd.ExcelFile("./datatest/03-15-013.xls")
df = sheet.parse(0, header=None)

metadata = df.iloc[0:8, 0:2]
metadata.iloc[:,1]
# metadata = metadata.transpose()
# print metadata
# metadata.columns = ['PR Title', 'Original Title', 'Discipline', 'SubDiscipline 1', 'SubDiscipline 2', 'Notes', 'Coder', 'Reference']
# metadata = metadata.iloc[1,:]
# print metadata

0    Sleeping over eight hours a day associated wit...
1    Sleep duration and risk of fatal and non-fatal...
2                                                    2
3                                                    8
4                                                   -9
5                                                  NaN
6                                                   33
7                                            03-15-013
Name: 1, dtype: object

In [28]:
sheet0 = pd.ExcelFile("./datatest/03-15-013.xls")
df = sheet.parse(0, header=None)
data = df.iloc[6:55, 2: 48]
data
data = data.transpose()
colnames = \
    ['Source', 'isFilled', 'Date', 'Author', 'Author Title', 'ELNU', 'PDO', 'Jointed Release', 'Embargo SD',
     'Embargo Time', 'Embargo Duration', 'MC IVs', 'MC DVs', 'JAPRVs Coherence', 'Causation TPS', 'Causation TPC',
     'Causation MPS', 'Causation MPC', 'TMVs Coherence', 'Sample', 'MC Target', 'Sample Code', 'Design', 'isInfoDesign',
     'isDesignStated', 'Causation Mention', 'Causation Warning', 'isContextualized', 'isCritical', 'RTC Design',
     'RTC DesignWords', 'RTC DesignQuote', 'Advice', 'Advice Code', 'isIntitution', 'Institution WordPos', 'Word Count',
     'PR ExpCond', 'PR Synonym', 'PR SynWords', 'PR CPCT', 'PR CPCTWords', 'PR CPCM1', 'PR CPCM1Words',
     'PR CPCM2', 'PR CPCM2Words', 'PR Design', 'PR DesignQuote', 'PR DesignWords']

data.columns = colnames
data = data[1:]
data = data[data.isFilled == 1]
data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Source</th>
      <th>isFilled</th>
      <th>Date</th>
      <th>Author</th>
      <th>Author Title</th>
      <th>ELNU</th>
      <th>PDO</th>
      <th>Jointed Release</th>
      <th>Embargo SD</th>
      <th>Embargo Time</th>
      <th>...</th>
      <th>PR SynWords</th>
      <th>PR CPCT</th>
      <th>PR CPCTWords</th>
      <th>PR CPCM1</th>
      <th>PR CPCM1Words</th>
      <th>PR CPCM2</th>
      <th>PR CPCM2Words</th>
      <th>PR Design</th>
      <th>PR DesignQuote</th>
      <th>PR DesignWords</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>Final Press Release</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Journal Article - Title and Abstract</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Journal Article - Body</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Times</td>
      <td>1</td>
      <td>2015-02-26 00:00:00</td>
      <td>3</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Scotsman</td>
      <td>1</td>
      <td>2015-02-26 00:00:00</td>
      <td>3</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>37</th>
      <td>mirror.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>3</td>
      <td>2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Mail Online</td>
      <td>1</td>
      <td>2015-02-26 00:00:00</td>
      <td>3</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>39</th>
      <td>express.co.uk</td>
      <td>1</td>
      <td>-9</td>
      <td>4</td>
      <td>-9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>41</th>
      <td>metro.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>3</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>42</th>
      <td>telegraph.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>1</td>
      <td>-9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Independent.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>3</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>11 rows × 49 columns</p>
</div>

In [60]:
sheet0 = pd.ExcelFile("./datatest/03-15-013.xls")
df = sheet.parse(0, header=None)
data = df.iloc[6:55, 2: 48]
data = data.transpose()
colnames = \
    ['Source', 'isFilled', 'Date', 'Author', 'Author Title', 'ELNU', 'PDO', 'Jointed Release', 'Embargo SD',
     'Embargo Time', 'Embargo Duration', 'MC IVs', 'MC DVs', 'JAPRVs Coherence', 'Causation TPS', 'Causation TPC',
     'Causation MPS', 'Causation MPC', 'TMVs Coherence', 'Sample', 'MC Target', 'Sample Code', 'Design', 'isInfoDesign',
     'isDesignStated', 'Causation Mention', 'Causation Warning', 'isContextualized', 'isCritical', 'RTC Design',
     'RTC DesignWords', 'RTC DesignQuote', 'Advice', 'Advice Code', 'isIntitution', 'Institution WordPos', 'Word Count',
     'PR ExpCond', 'PR Synonym', 'PR SynWords', 'PR CPCT', 'PR CPCTWords', 'PR CPCM1', 'PR CPCM1Words',
     'PR CPCM2', 'PR CPCM2Words', 'PR Design', 'PR DesignQuote', 'PR DesignWords']

data.columns = colnames
data = data[1:]
data = data[data.isFilled == 1]

metadata = df.iloc[0:8, 0:2]
metadata.iloc[:,1]
metadata = metadata.transpose()
metadata.columns = ['PR Title', 'Original Title', 'Discipline', 'SubDiscipline 1', 'SubDiscipline 2', 'Notes', 'Coder', 'Reference']
metadata = metadata.iloc[1,:]

# rep_metadata = pd.concat([metadata.to_frame().transpose()]*5, ignore_index=True)
rep_metadata = pd.DataFrame(data = [metadata.iloc[2:].values] * len(data), columns = metadata.index[2:])
data.reset_index(inplace=True, drop=True)
print(pd.concat([data, rep_metadata], axis=1))

# rep_metadata
# data

                                  Source isFilled                 Date Author  \
0                    Final Press Release        1  2015-02-25 00:00:00    NaN
1   Journal Article - Title and Abstract        1                  NaN    NaN
2                 Journal Article - Body        1                  NaN    NaN
3                                  Times        1  2015-02-26 00:00:00      3
4                               Scotsman        1  2015-02-26 00:00:00      3
5                           mirror.co.uk        1  2015-02-25 00:00:00      3
6                            Mail Online        1  2015-02-26 00:00:00      3
7                          express.co.uk        1                   -9      4
8                            metro.co.uk        1  2015-02-25 00:00:00      3
9                        telegraph.co.uk        1  2015-02-25 00:00:00      1
10                     Independent.co.uk        1  2015-02-25 00:00:00      3

   Author Title ELNU  PDO Jointed Release Embargo SD Embargo Time    ...      \
0           NaN  NaN  NaN             NaN        NaN          NaN    ...
1           NaN  NaN  NaN             NaN        NaN          NaN    ...
2           NaN  NaN  NaN             NaN        NaN          NaN    ...
3             1  NaN  NaN             NaN        NaN          NaN    ...
4             3  NaN  NaN             NaN        NaN          NaN    ...
5             2  NaN  NaN             NaN        NaN          NaN    ...
6             1  NaN  NaN             NaN        NaN          NaN    ...
7            -9  NaN  NaN             NaN        NaN          NaN    ...
8             3  NaN  NaN             NaN        NaN          NaN    ...
9            -9  NaN  NaN             NaN        NaN          NaN    ...
10            3  NaN  NaN             NaN        NaN          NaN    ...

   PR CPCM2Words PR Design PR DesignQuote PR DesignWords Discipline  \
0            NaN       NaN            NaN            NaN          2
1            NaN       NaN            NaN            NaN          2
2            NaN       NaN            NaN            NaN          2
3            NaN       NaN            NaN            NaN          2
4            NaN       NaN            NaN            NaN          2
5            NaN       NaN            NaN            NaN          2
6            NaN       NaN            NaN            NaN          2
7            NaN       NaN            NaN            NaN          2
8            NaN       NaN            NaN            NaN          2
9            NaN       NaN            NaN            NaN          2
10           NaN       NaN            NaN            NaN          2

   SubDiscipline 1 SubDiscipline 2 Notes Coder  Reference
0                8              -9   NaN    33  03-15-013
1                8              -9   NaN    33  03-15-013
2                8              -9   NaN    33  03-15-013
3                8              -9   NaN    33  03-15-013
4                8              -9   NaN    33  03-15-013
5                8              -9   NaN    33  03-15-013
6                8              -9   NaN    33  03-15-013
7                8              -9   NaN    33  03-15-013
8                8              -9   NaN    33  03-15-013
9                8              -9   NaN    33  03-15-013
10               8              -9   NaN    33  03-15-013

[11 rows x 55 columns]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Source</th>
      <th>isFilled</th>
      <th>Date</th>
      <th>Author</th>
      <th>Author Title</th>
      <th>ELNU</th>
      <th>PDO</th>
      <th>Jointed Release</th>
      <th>Embargo SD</th>
      <th>Embargo Time</th>
      <th>...</th>
      <th>PR CPCM2Words</th>
      <th>PR Design</th>
      <th>PR DesignQuote</th>
      <th>PR DesignWords</th>
      <th>Discipline</th>
      <th>SubDiscipline 1</th>
      <th>SubDiscipline 2</th>
      <th>Notes</th>
      <th>Coder</th>
      <th>Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Final Press Release</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Journal Article - Title and Abstract</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Journal Article - Body</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Times</td>
      <td>1</td>
      <td>2015-02-26 00:00:00</td>
      <td>3</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Scotsman</td>
      <td>1</td>
      <td>2015-02-26 00:00:00</td>
      <td>3</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>5</th>
      <td>mirror.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>3</td>
      <td>2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Mail Online</td>
      <td>1</td>
      <td>2015-02-26 00:00:00</td>
      <td>3</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>7</th>
      <td>express.co.uk</td>
      <td>1</td>
      <td>-9</td>
      <td>4</td>
      <td>-9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>8</th>
      <td>metro.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>3</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>9</th>
      <td>telegraph.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>1</td>
      <td>-9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Independent.co.uk</td>
      <td>1</td>
      <td>2015-02-25 00:00:00</td>
      <td>3</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2</td>
      <td>8</td>
      <td>-9</td>
      <td>NaN</td>
      <td>33</td>
      <td>03-15-013</td>
    </tr>
  </tbody>
</table>
<p>11 rows × 55 columns</p>
</div>